
:root{
    /* palheta de cores do site-pais */
    --cor-bandeira1:#83B7DE;
    --cor-bandeira2: #FFFFFF;
}
body{
    background-color: var(--cor-bandeira1);
}
header{
    background-image: linear-gradient(to bottom, var(--cor-bandeira1),var(--cor-bandeira2));
}

header h2{
    font-family: var(--font-personalisada);
    font-size: 2.5em;
    color: var(--cor-bandeira2);
    text-shadow: 6px 6px 2px rgba(165, 96, 96, 0.349);  ;
}
nav{
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 0px 8px 6px rgba(59, 57, 57, 0.37);
    text-align: center;

}

nav > a {
    color: var(--cor-bandeira2);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
   

}

nav > a:hover{
    background-color: var(--cor-bandeira1);
    color: var(--cor-bandeira2);

}
main h1{
  color: var(--cor0);
  font-family: var(--font-destaque);
  font-size: 4em;
  font-weight: bold;
}
main img{
    width: 200px;
}

.conteiner{
    display: flex;
    align-items: center;
    font-size: 2.4em;
    margin-top: 4px;
    width: 100%;
}
.conteiner>h3{
    margin-left: 8px;
    font-family: var(--font-personalisada);
}
.conteiner > img{
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.411);
}

footer{
    background-color: var(--cor3);
    color: whitesmoke;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    }
    footer a:hover{
        text-decoration: underline;
        color: var(--cor1);
    }

@media (max-width: 820px) {
   main h1{
       font-size: 2.5em;
   } 

    .conteiner >h3 {
        font-size: 0.8em;
    }

}